.checkBoxEdit {
  display: flex;
  margin: 5px;
}

main form {
  -webkit-box-shadow: 10px 10px 28px -1px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 10px 10px 28px -1px rgba(0, 0, 0, 0.62);
  box-shadow: 10px 10px 28px -1px rgba(0, 0, 0, 0.62);
}
